*.BAK
*.DS_Store
*.bak
*.bmp
*.inp
*.log
*.lst
*.mod
*.o
*.out
*.pvtu
*.pyc
*.qdrep
*.so
*.sqlite
*.vtu
*~

Makefile.conf
obj/
obj_cpu/
obj_gpu/
pgipar*
docker/lib/
docker/include/
monolish_test.log

# Logger
monolish_log_viewer/libs/__pycache__/*.pyc
monolish_log_viewer/utils/__pycache__/*.pyc
monolish_log_viewer/views/*.html

# cmake
build*/

# Doxygen
html/

# clangd
compile_commands.json
.clangd/
