*.BAK
*.DS_Store
*.bak
*.bmp
*.inp
*.log
*.lst
*.mod
*.o
*.out
*.pvtu
*.pyc
*.qdrep
*.so
*.sqlite
*.vtu
*~

Makefile.conf
obj/
obj_cpu/
obj_gpu/
pgipar*
docker/lib/
docker/include/
monolish_test.log

# Logger
test/logger/logging/*.yml
test/logger/logging/*.log
test/logger/logging/*.html
python/.pytest_cache/*
python/monolish_log_viewer/__pycache__/*.pyc
python/monolish_log_viewer/__pycache__/*.py

# cmake
build*/

# Doxygen
html/

# clangd
compile_commands.json
.clangd/

# vscode
.vscode/

# cmake
benchmark/*/*.tsv
