*.o
*.out
*.mod
*.so
*.log
*.inp
*.bmp
*.pvtu
*.vtu
*.lst
*.bak
*.BAK
*.DS_Store
*.qdrep
*.sqlite
*~
Makefile.conf
obj/
obj_cpu/
obj_gpu/
pgipar*
docker/lib/
docker/include/
monolish_test.log
test/logger/logging/*.html
test/logger/logging/libs/__pycache__/
test/logger/logging/utils/__pycache__/

# cmake
build*/

# Doxygen
html/

# clangd
compile_commands.json
.clangd/
