Source: monolish
Maintainer: Ryo IGARASHI <rigarash@ricos.co.jp>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 9)

Package: monolish
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MONOlithic LInier equation Solvers for Highly-parallel architecture
 monolish is a linear solver library that monolithically fuses
 variable data types, matrix structures, matrix data formats, 
 vender specific data transfer APIs, and vender specific numerical
 algebra libraries.
