Source: monolish
Maintainer: Ryo IGARASHI <rigarash@ricos.co.jp>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: monolish
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MONOlithic Liner equation Solvers for Highly-parallel architecture
 monolish is a linear solver library that monolithically fuses variable data type,
 matrix structures, matrix data format, vender specific data transfer APIs,
 and vender specific numerical algebra libraries.
