#!/usr/bin/make -f
#DEB_BUILD_OPTIONS=nostrip
DESTDIR:=$(CURDIR)/debian/monolish
%:
	dh $@

override_dh_auto_build:
	MONOLISH_DIR=/usr dh_auto_build -- cpu gpu

override_dh_auto_install:
	MONOLISH_DIR=/usr dh_auto_install

override_dh_install:
	dh_install --sourcedir=/
	patchelf --force-rpath --set-rpath '/usr/lib/monolish' $(DESTDIR)/usr/lib/libmonolish_gpu.so

override_dh_strip_nondeterminism:
override_dh_strip:
