
            <!DOCTYPE html>
                <html lang="ja">
                <head>
                    <meta charset="utf-8">
                </head>
                <body>
                    <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>layer</th>
      <th>group_0</th>
      <th>group_1</th>
      <th>group_2</th>
      <th>time</th>
      <th>layer1/layer0[%]</th>
      <th>layer2/layer1[%]</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>solve/</td>
      <td>0</td>
      <td>0.0</td>
      <td></td>
      <td></td>
      <td>0.037919</td>
      <td>100.000000</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>solve/monolish_CG/</td>
      <td>1</td>
      <td>0.0</td>
      <td>1.0</td>
      <td></td>
      <td>0.036867</td>
      <td>97.223321</td>
      <td>100</td>
    </tr>
    <tr>
      <th>9</th>
      <td>solve/monolish_CG/create_precond/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.000857</td>
      <td>2.259084</td>
      <td>2.3236</td>
    </tr>
    <tr>
      <th>6</th>
      <td>solve/monolish_CG/axpy/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>10.0</td>
      <td>0.000366</td>
      <td>0.964607</td>
      <td>0.992155</td>
    </tr>
    <tr>
      <th>3</th>
      <td>solve/monolish_CG/apply_precond/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>12.0</td>
      <td>0.000841</td>
      <td>2.217815</td>
      <td>2.28115</td>
    </tr>
    <tr>
      <th>12</th>
      <td>solve/monolish_CG/dot/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>13.0</td>
      <td>0.000355</td>
      <td>0.935075</td>
      <td>0.961781</td>
    </tr>
    <tr>
      <th>22</th>
      <td>solve/monolish_CG/xpay/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>14.0</td>
      <td>0.002335</td>
      <td>6.159011</td>
      <td>6.33491</td>
    </tr>
    <tr>
      <th>19</th>
      <td>solve/monolish_CG/nrm2/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>15.0</td>
      <td>0.000398</td>
      <td>1.048801</td>
      <td>1.07875</td>
    </tr>
    <tr>
      <th>18</th>
      <td>solve/monolish_CG/matvec/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>16.0</td>
      <td>0.002970</td>
      <td>7.832033</td>
      <td>8.05571</td>
    </tr>
    <tr>
      <th>13</th>
      <td>solve/monolish_CG/dot/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>17.0</td>
      <td>0.000583</td>
      <td>1.537640</td>
      <td>1.58156</td>
    </tr>
    <tr>
      <th>14</th>
      <td>solve/monolish_CG/dot/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>18.0</td>
      <td>0.000527</td>
      <td>1.389790</td>
      <td>1.42948</td>
    </tr>
    <tr>
      <th>7</th>
      <td>solve/monolish_CG/axpy/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>19.0</td>
      <td>0.000403</td>
      <td>1.061768</td>
      <td>1.09209</td>
    </tr>
    <tr>
      <th>16</th>
      <td>solve/monolish_CG/matvec/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>0.007525</td>
      <td>19.844486</td>
      <td>20.4112</td>
    </tr>
    <tr>
      <th>8</th>
      <td>solve/monolish_CG/axpy/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>20.0</td>
      <td>0.000422</td>
      <td>1.113161</td>
      <td>1.14495</td>
    </tr>
    <tr>
      <th>4</th>
      <td>solve/monolish_CG/apply_precond/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>22.0</td>
      <td>0.000930</td>
      <td>2.452689</td>
      <td>2.52274</td>
    </tr>
    <tr>
      <th>15</th>
      <td>solve/monolish_CG/dot/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>23.0</td>
      <td>0.000379</td>
      <td>0.998246</td>
      <td>1.02676</td>
    </tr>
    <tr>
      <th>23</th>
      <td>solve/monolish_CG/xpay/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>24.0</td>
      <td>0.002400</td>
      <td>6.330058</td>
      <td>6.51084</td>
    </tr>
    <tr>
      <th>20</th>
      <td>solve/monolish_CG/nrm2/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>25.0</td>
      <td>0.000572</td>
      <td>1.507703</td>
      <td>1.55076</td>
    </tr>
    <tr>
      <th>21</th>
      <td>solve/monolish_CG/operator-/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>0.004092</td>
      <td>10.792602</td>
      <td>11.1008</td>
    </tr>
    <tr>
      <th>2</th>
      <td>solve/monolish_CG/apply_precond/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>5.0</td>
      <td>0.000981</td>
      <td>2.587370</td>
      <td>2.66126</td>
    </tr>
    <tr>
      <th>17</th>
      <td>solve/monolish_CG/matvec/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>6.0</td>
      <td>0.002522</td>
      <td>6.649973</td>
      <td>6.8399</td>
    </tr>
    <tr>
      <th>10</th>
      <td>solve/monolish_CG/dot/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>7.0</td>
      <td>0.002487</td>
      <td>6.559360</td>
      <td>6.74669</td>
    </tr>
    <tr>
      <th>11</th>
      <td>solve/monolish_CG/dot/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>8.0</td>
      <td>0.000458</td>
      <td>1.208131</td>
      <td>1.24263</td>
    </tr>
    <tr>
      <th>5</th>
      <td>solve/monolish_CG/axpy/</td>
      <td>2</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>9.0</td>
      <td>0.000403</td>
      <td>1.062567</td>
      <td>1.09291</td>
    </tr>
  </tbody>
</table>
                </body>
            </html>
        