
        <!DOCTYPE html>
            <html lang="ja">
            <head>
                <meta charset="utf-8">
            </head>
            <body>
                <caption>other</caption><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>layer</th>
      <th>group_0</th>
      <th>time</th>
      <th>cont_cnt</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table><caption>solver</caption><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>layer</th>
      <th>group_0</th>
      <th>group_1</th>
      <th>group_2</th>
      <th>time</th>
      <th>cont_cnt</th>
      <th>breakdown_0 layer1/layer0[%]</th>
      <th>breakdown_1 layer2/layer1[%]</th>
      <th>breakdown_0[%] / count</th>
      <th>breakdown_1[%] / count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>solve/</td>
      <td>0</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td>0.037919</td>
      <td>1</td>
      <td><div style='text-align:center; background: #c0c0c0'><strong>100.0</strong></div></td>
      <td></td>
      <td><div style='text-align:center; background: #c0c0c0'><strong>100.0</strong></div></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>solve/monolish_CG/</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td></td>
      <td>0.036867</td>
      <td>1</td>
      <td>97.2233</td>
      <td><div style='text-align:center; background: #c0c0c0'><strong>100.0</strong></div></td>
      <td>97.2233</td>
      <td><div style='text-align:center; background: #c0c0c0'><strong>100.0</strong></div></td>
    </tr>
    <tr>
      <th>2</th>
      <td>solve/monolish_CG/create_precond/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>0.000857</td>
      <td>2</td>
      <td></td>
      <td>2.3236</td>
      <td></td>
      <td>1.1618</td>
    </tr>
    <tr>
      <th>3</th>
      <td>solve/monolish_CG/matvec/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>1.0</td>
      <td>0.007525</td>
      <td>1</td>
      <td></td>
      <td>20.4112</td>
      <td></td>
      <td>20.4112</td>
    </tr>
    <tr>
      <th>4</th>
      <td>solve/monolish_CG/nrm2/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>10.0</td>
      <td>0.000398</td>
      <td>1</td>
      <td></td>
      <td>1.07875</td>
      <td></td>
      <td>1.07875</td>
    </tr>
    <tr>
      <th>5</th>
      <td>solve/monolish_CG/matvec/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>11.0</td>
      <td>0.002970</td>
      <td>1</td>
      <td></td>
      <td>8.05571</td>
      <td></td>
      <td>8.05571</td>
    </tr>
    <tr>
      <th>6</th>
      <td>solve/monolish_CG/dot/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>12.0</td>
      <td>0.001110</td>
      <td>2</td>
      <td></td>
      <td>3.01104</td>
      <td></td>
      <td>1.50552</td>
    </tr>
    <tr>
      <th>7</th>
      <td>solve/monolish_CG/axpy/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>13.0</td>
      <td>0.000825</td>
      <td>2</td>
      <td></td>
      <td>2.23704</td>
      <td></td>
      <td>1.11852</td>
    </tr>
    <tr>
      <th>8</th>
      <td>solve/monolish_CG/apply_precond/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>14.0</td>
      <td>0.000930</td>
      <td>2</td>
      <td></td>
      <td>2.52274</td>
      <td></td>
      <td>1.26137</td>
    </tr>
    <tr>
      <th>9</th>
      <td>solve/monolish_CG/dot/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>15.0</td>
      <td>0.000379</td>
      <td>1</td>
      <td></td>
      <td>1.02676</td>
      <td></td>
      <td>1.02676</td>
    </tr>
    <tr>
      <th>10</th>
      <td>solve/monolish_CG/xpay/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>16.0</td>
      <td>0.002400</td>
      <td>1</td>
      <td></td>
      <td>6.51084</td>
      <td></td>
      <td>6.51084</td>
    </tr>
    <tr>
      <th>11</th>
      <td>solve/monolish_CG/nrm2/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>17.0</td>
      <td>0.000572</td>
      <td>1</td>
      <td></td>
      <td>1.55076</td>
      <td></td>
      <td>1.55076</td>
    </tr>
    <tr>
      <th>12</th>
      <td>solve/monolish_CG/operator-/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>2.0</td>
      <td>0.004092</td>
      <td>1</td>
      <td></td>
      <td>11.<div style='text-align:center; background: #c0c0c0'><strong>100.0</strong></div>8</td>
      <td></td>
      <td>11.<div style='text-align:center; background: #c0c0c0'><strong>100.0</strong></div>8</td>
    </tr>
    <tr>
      <th>13</th>
      <td>solve/monolish_CG/apply_precond/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>3.0</td>
      <td>0.000981</td>
      <td>2</td>
      <td></td>
      <td>2.66126</td>
      <td></td>
      <td>1.33063</td>
    </tr>
    <tr>
      <th>14</th>
      <td>solve/monolish_CG/matvec/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>4.0</td>
      <td>0.002522</td>
      <td>1</td>
      <td></td>
      <td>6.8399</td>
      <td></td>
      <td>6.8399</td>
    </tr>
    <tr>
      <th>15</th>
      <td>solve/monolish_CG/dot/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>5.0</td>
      <td>0.002945</td>
      <td>2</td>
      <td></td>
      <td>7.98933</td>
      <td></td>
      <td>3.99466</td>
    </tr>
    <tr>
      <th>16</th>
      <td>solve/monolish_CG/axpy/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>6.0</td>
      <td>0.000769</td>
      <td>2</td>
      <td></td>
      <td>2.08507</td>
      <td></td>
      <td>1.04253</td>
    </tr>
    <tr>
      <th>17</th>
      <td>solve/monolish_CG/apply_precond/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>7.0</td>
      <td>0.000841</td>
      <td>2</td>
      <td></td>
      <td>2.28115</td>
      <td></td>
      <td>1.14058</td>
    </tr>
    <tr>
      <th>18</th>
      <td>solve/monolish_CG/dot/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>8.0</td>
      <td>0.000355</td>
      <td>1</td>
      <td></td>
      <td>0.961781</td>
      <td></td>
      <td>0.961781</td>
    </tr>
    <tr>
      <th>19</th>
      <td>solve/monolish_CG/xpay/</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>9.0</td>
      <td>0.002335</td>
      <td>1</td>
      <td></td>
      <td>6.33491</td>
      <td></td>
      <td>6.33491</td>
    </tr>
  </tbody>
</table>
            </body>
        </html>
    